doctype html
html(lang= 'ru')
  head
    meta(charset='utf-8')
    title= 'Быстрый запуск Webpack'
  body
    div Для быстрой проверки координат: [32.1772375,-129.7764664683]
    .container
      .post-container       
      .add-post
        textarea(name="new-post", class="textarea" rows="1" placeholder="Введите текст новой заметки" required)
        button(class="btn btn-add" type="button") Добавить заметку
    form(class="modal modal-hidden" novalidate) 
      .modal-text Что-то пошло не так
      .add-coords
        input(class="textarea" type="text" placeholder="Введите ширину и долготу через запятую" required)
        .modal-buttons
          button(class="btn btn-submit" type="submit") ОК
          //- button(class="btn btn-submit" type="submit") Проверить координаты
          button(class="btn btn-close" type="button") Отмена
